<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-quote-form (createQuote)="createNewQuote($event)"></app-quote-form>
        </div>
        <br>
        <br>
        <div class="col-md-6">
            <div class="Jumbotron" *ngFor="let Quote of quotes;let i= index">
                <h3>Quote: {{Quote.quote}}</h3>
                <p>Author's name: {{Quote.author}}</p>
                <p>Submitted by: {{Quote.person}}</p>
                <p>Created {{Quote.dateCreated|timeCount}}2days ago</p>
                <app-quote-details [Quote]='Quote' (complete)='deleteQuote($event,i)'></app-quote-details>
            </div>
        </div>
    </div>
</div>