<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="quote">Quote: </label>
                <input type="text" required class="form-control" id="name" name="quote">

            </div>
            <div class="form-group">
                <label for="Author's name">Author's name: </label>
                <input type="text" required class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="Summition">Submitted by: </label>
                <input type="text" required class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="submitted date">Submitted on: </label>
                <input type="text" required class="form-control" id="name">
            </div>
        </form>
    </div>
</div>