<form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
        <label for="quote">Quote: </label>
        <input type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required>
    </div>
    <div class="form-group">
        <label for="name">Author's name: </label><br>
        <input type="text" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
    </div>
    <div class="form-group">
        <label for="person">Submitted by: </label><br>
        <input type="text" id="person" [(ngModel)]="newQuote.person" name="person" #person="ngModel" required>
    </div>
    <div class="form-group">
        <label for="Date">Submitted on: </label><br>
        <input type="date" id="Date" [(ngModel)]="newQuote.dateCreated" name="Date" #Date="ngModel" required>
        <div [hidden]="Date.valid||Date.pristine" class="alert alert-danger">
        </div>
    </div><br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>